*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:linear-gradient(45deg,#f342f3,#a34);  
}
.container{
    display: flex;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.calculator{
    position:relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(187,130,130);
    background-color: rgb(147, 101, 246);
    #display{
        color: rgb(12, 14, 9);
        background-color: rgba(193, 10, 10, 0.84);
        margin: 0 10px;
        height: 80px;
        border-radius: 5px;
        margin-top: 30px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 25px;
        font-weight: 600;
    }
    #clear{
        background-color: aquamarine;
        color: #f342f3;
    }
    .btn-number{
        background-color: blueviolet;
        color: aliceblue;
    }
    .btn-operator{
        background-color: rgb(208, 234, 62);
        color: black;
    }
    .btn-equal{
        background-color: #a34;
        color: black;
    }
    #equal{
        height: 130px;

    }
    &.dark{
        background-color: black;
        #display{
            color: rgb(10, 11, 11);
            background-color: rgb(193, 225, 51);
            border-radius: 5px;
            height: 80px;
            margin-top: 30px;
        }
        
    }
}
.theme-toggler{
    position: absolute;
    top: 3px;
    right: 30px;
    color: aliceblue;
    cursor: pointer;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        height: 25px;
        width: 30px;
        top: 15%;
        transform: translate(-50%,50%);
        border-radius: 50%;
        background-color: rgba(227, 244, 228, 0.989);
        z-index: 1;
    }
}
.theme-toggler .active{
    color: burlywood;
    &::before{
        background-color: aliceblue;
    }
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2 ease;
    &:hover{
        transform: scale(1.1);

    }
}
@media (max-width:628px){
    .container{
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: auto;
    }
}  